@import url(https://fonts.googleapis.com/css?family=Roboto);

/*Just the background stuff */

span.s1 {
    position: absolute;
    top: 0;
    font-size: 15rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #3C4447;
}

span.s2 {
    font-weight: 800;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15rem;
    text-transform: uppercase;
    color: #3C4447;
}

.thumbnail {
    float: left;
    position: relative;
    left: 30px;
    top: -30px;
    height: 320px;
    width: 530px;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}


/*object-fit: cover; */


/*object-position: center; */

img.left {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Right side of the card */

.right {
    margin-left: 590px;
    margin-right: 20px;
}

.author {
    background-color: #9ECAFF;
    height: 30px;
    width: 110px;
    border-radius: 20px;
}

.author>img {
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    border-radius: 50%;
}

.separator {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
}


/* Floating action button */

.fab {
    position: absolute;
    right: 50px;
    bottom: -40px;
    box-sizing: border-box;
    padding-top: 18px;
    background-color: #ecc30d;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}