.hide {
    display: none;
}

.capt {
    text-transform: capitalize;
}

.cent {
    text-align: center;
}

.header {
    padding-top: 15px;
}

.floatritgit {
    float: right;
}

.Vote .Now {
    padding: 4px 27px 5px 27px;
}

.rank1 {
    background: #ffc500;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #ffc500, #ffa600);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #ffc500, #ffa600);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50px;
    padding: 10px;
    color: #343a40;
    text-align: center;
}

.rank2 {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #566677, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #566677, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50px;
    padding: 10px;
    color: #343a40;
    text-align: center;
}

.rank3 {
    background: #B79891;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #94716B, #B79891);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #94716B, #B79891);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50px;
    padding: 10px;
    color: #343a40;
    text-align: center;
}


/* 


.slidecontainer {


    width: 100%;


}





.slider {


    -webkit-appearance: none;


    width: 100%;


    height: 25px;


    background: #ffd51b;


    outline: none;


     opacity: 0.7; 


    -webkit-transition: .2s;


    transition: opacity .2s;


}





.slider:hover {


    opacity: 1;


}





.slider::-webkit-slider-thumb {


    -webkit-appearance: none;


    appearance: none;


    width: 25px;


    height: 25px;


    background: rgb(167, 167, 167);


    cursor: pointer;


}





.slider::-moz-range-thumb {


    width: 25px;


    height: 25px;


    background: rgb(167, 167, 167);


    cursor: pointer;


} */

.neo {
    border: 0px !important;
    border-radius: 50px !important;
    box-shadow: -13px 13px 26px #2f343a, 13px -13px 26px #394046;
}

.neo-card {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    margin: .5em;
    margin-top: 4em;
}

@media only screen and (min-width: 600px) {
    .neo {
        border: 0px !important;
        border-radius: 50px !important;
        box-shadow: -13px 13px 26px #2f343a, 13px -13px 26px #394046;
    }
    .neo-card {
        padding: 3em;
        margin: .5em;
        margin-top: 6em;
    }
}


/* :root {


    --yellow: #ffd100;


    --orange: #ff6a13;


    --darkGray: #53565a;


    --midGray: #888b8d;


    --white: #fff;


} */


/* *,


*:after,


*:before {


    box-sizing: border-box;


    color: var(--darkGray);


} */


/* body {


    font-family: Nunito;


    min-height: 100vh;


    width: 100vw;


    display: flex;


    place-items: center;


    margin: 0;


    background: var(--white);


} */

#slider {
    --roundness: 50px;
    display: grid;
    justify-content: stretch;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

#slider input {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    position: relative;
    z-index: 1;
    opacity: 0;
    height: calc(var(--roundness) * 2);
    cursor: pointer;
}

#slider input:focus+.outer {
    outline: 1px dashed var(--orange);
}

#slider>label {
    width: 100%;
    margin: auto;
    font-size: 1.5em;
    padding: 0 0 .5em;
}

#slider .outer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    border-radius: var(--roundness);
    margin: auto;
    height: var(--roundness);
    background: var(--midGray);
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

@media only screen and (max-width: 600px) {
    #slider label.inner {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--white);
        border-top-left-radius: var(--roundness) !important;
        border-bottom-left-radius: var(--roundness) !important;
        position: absolute;
        /* transition: all 0.3s cubic-bezier(0.5, 0.4, 0.2, 1); */
        text-align: right;
        font-size: calc(var(--roundness) * 1);
        line-height: 2;
    }
}

#slider label.inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--white);
    border-top-left-radius: var(--roundness) !important;
    border-bottom-left-radius: var(--roundness) !important;
    position: absolute;
    /* transition: all 0.3s cubic-bezier(0.5, 0.4, 0.2, 1); */
    text-align: right;
    font-size: calc(var(--roundness) * 1);
    line-height: 1.5;
}

#slider label.inner span {
    position: absolute;
    right: -2px;
    top: calc(50% - var(--roundness) * 2);
    top: calc(var(--roundness) * -.3);
    transition: inherit;
}

.navbarer {
    padding: 0.5rem 3rem !important;
    margin: 1em !important;
    border-radius: 60px !important;
}

.pdd {
    padding-left: 3em !important;
    float: inherit;
    box-shadow: -2px 2px 20px #23272b;
    width: 50% !important;
}


/* fab menu? */

.fab-ctr {
    z-index: 999;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0) translateX(0) translateY(0);
    -moz-transform: rotate(0) translateX(0) translateY(0);
    -ms-transform: rotate(0) translateX(0) translateY(0);
    -o-transform: rotate(0) translateX(0) translateY(0);
    transform: rotate(0) translateX(0) translateY(0);
    padding: 10px;
    will-change: transform;
    transition: 0.25s all ease-in-out;
}

.fab {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffac11;
    float: right;
    will-change: transform;
    transition: 0.25s all ease-in-out;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    text-align: center;
    vertical-align: bottom;
    line-height: 60px !important;
}

.fab:hover {
    background: #5a95f5;
    width: 65px;
    height: 65px;
}